# for statement

Objectives:

1. Learn how to use for and its relevant statements.

**1. for loop:** A for loop in python is used for iterating over a collection of objects 
 The structure of for loop is:


```
for <var_item> in <collections>:
  statement1 # within for loop
  statement2 # within for loop
statement3 # outside for loop --executed after when for loop execution has ended
```

In [ ]:
list_a = [20,34,560]
for item in list_a:
  print(item)
print('For loop has ended!')

20
34
560
For loop has ended!

In [ ]:
set_a = {20,34,560}
for item in set_a:
  print(item)
print('For loop has ended!')

560
34
20
For loop has ended!

In [ ]:
id_name_dict = {'Bobs':"1234",'Alice':"5678",'John':"password"}

for item in id_name_dict.items():
  print(item)

('Bobs', '1234')
('Alice', '5678')
('John', 'password')

In [ ]:
id_name_dict = {'Bobs':"1234",'Alice':"5678",'John':"password"}
for item in id_name_dict:
  print(item)

Bobs
Alice
John

**2. Nested for loop:** A nested loop is a loop inside a loop. The "inner loop" will be executed one time for each iteration of the "outer loop"

```
for <var_item> in <collections>: # outer loop
  statement1 # within outer loop
  statement2 # within outer loop
  for <var_item1> in <collections1>: # innner lop
    statement3 # within innner loop
    statement4 # within innner loop
  statement5 # within outer loop

statement6 # outside while loop --executed after when while loop execution has ended
```

In [ ]:
list_a = [20,34,560]
list_b = ['a','b','c']
for item in list_a:
  print(item)
  for item1 in list_b:
    print(item1)
print('For loop has ended!')

**for loop statement**
1. break: this statement is used to exit the current iterative loop  
2. continue:this statement is used to stop the current iteration and go back to condition checking statement. 
3. else: the code inside else block runs when the loop is finished. This code block will not run when the break statement is used to exit the loop)
4. pass: this is a null statement. The interpreter does not ignore it, but it performs a no-operation (NOP).

In [ ]:
# Illustration for break in for loop
list_a = [10, 20,-1,560]
for a in list_a:
  if a <0:
    break
  print(a)  
print('Loop has ended!')

10
20
Loop has ended!

In [ ]:
# Illustration for continue in for loop
list_a = [10, 20,-1,560]
for a in list_a:
  if a <0:
    continue
  print(a)  
print('Loop has ended!')

10
20
560
Loop has ended!

In [ ]:
# Illustration for else in for loop
list_a = [10, 20,-1,560]
for a in list_a:
  print(a) 
#  if a <0:
#    break
else:
  print('Else statement')

print('Loop has ended!')

In [ ]:
list_a = [20,34,560]
list_b = ['a','b','c']
for item in list_a:
  print(item)
  for item1 in list_b:
    pass
print('For loop has ended!')

**range function**:  this function could be used as an iterative index for each element in a collection sequence.
- range(i): create a sequence of numbers from 0 to i-1 (i numbers)
  - 0  : the first index of the ordered collection datatype

  - i-1: the last index of the ordered collection datatype

- range(start, stop, step(optional): create a sequence of numbers from 0 to start to stop-1 with step interval

In [ ]:
print(list(range(5)))
print(list(range(1,10,2)))

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]

**Size of Range object vs Tuple**

In [ ]:
tuple_= tuple(i for i in range(100))
range_ = range(0,100)

import sys
print(sys.getsizeof(tuple_))
print(sys.getsizeof(range_))

856
48

# Exercise 1 (1 pt)
Write code to split the following list into non-negative number list and negative number list.


```
mylist = [1,-5,74,4,36,-4,0, 2,8, 9,15]

```

In [2]:
mylist = [1,-5,74,4,36,-4,0, 2,8, 9,15]
non_negative_list = []
negative_list = []
for i in mylist:
 if i < 0:
   negative_list.append(i)
 else:
   non_negative_list.append(i)
print(negative_list)
print(non_negative_list)

[-5, -4]
[1, 74, 4, 36, 0, 2, 8, 9, 15]

# Exercise 2 (1 pt)
Write code to accept list input from user and find the minimum value in that list using for loop.

**Examples:**
```
List: -8,0,1,4,-9,16
Minimum value: -9
```

In [18]:
user_list = input('list: ').split(',')
user_list = [int(x) for x in user_list]
min = user_list[0]
for i in user_list:
  if i < min:
    min = i
  pass
print(user_list)
print('Minimum value: ',min)

list: -8,0,1,4,-9,16
[-8, 0, 1, 4, -9, 16]
Minimum value:  -9

# Exercise 3 (1 pt)
Write code that prints each item and its corresponding type from the following list.


**Examples:**
```
data = [['0171_apitsara', 100, 'A'], ['0159_', 68, 'C'], ['0212_Aschariyanee', 63, 'C'], ['0691_pimchanok', 72, 'B'], ['Takdanai', 89, 'A'], ['Korrathak', 85, 'A'], ['0558_Piampiya', 44, 'E'], ['Danasawin', 60, 'C'], ['0170_Anapat', 68, 'C'], ['201', 88, 'A'], ['0555_Tarnakij', 99, 'A'], ['0153_Yanapat', 41, 'E'], ['0688_Thanis', 43, 'E'], ['??????', 82, 'A'], ['0556_Bunadha', 84, 'A'], ['Rinlaphat', 100, 'A'], ['0166_Phuvis', 96, 'A'], ['0156_Nattapat', 100, 'A'], ['0168_Matheepat', 100, 'A'], ['0172_Itthikon', 53, 'D'], ['0155_Naphat', 63, 'C'], ['Arisara', 46, 'E'], ['0165_Panuwat', 57, 'D'], ['0163_Pornpimon', 91, 'A'], ['0162_Parintorn', 100, 'A'], ['0152_Jiraphat', 100, 'A'], ['0157_Nichakan', 100, 'A'], ['0160_Thanyanan', 64, 'C'], ['Dechdumrong', 78, 'B'], ['0173_Inthuorn', 87, 'A'], ['Sansinee', 57, 'D'], ['0207_Napat', 49, 'E'], ['0693_worakamon', 59, 'D'], ['0687_korrathak', 97, 'A'], ['0210_Werapat', 100, 'A'], ['0211_Akira', 42, 'E'], ['0208_Phantipha', 97, 'A'], ['0209_Peerapong', 86, 'A'], ['0161_benyatip', 100, 'A'], ['552_Nutraness', 100, 'A'], ['552_nutraness', 66, 'C'], ['0169_Sansinee', 41, 'E'], ['0694_suparluck', 96, 'A']]

Output:
{'A': 23, 'B': 2, 'C': 7, 'D': 4, 'E': 7}
...
```

In [4]:

data = [['0171_apitsara', 100, 'A'], ['0159_', 68, 'C'], ['0212_Aschariyanee', 63, 'C'], ['0691_pimchanok', 72, 'B'], ['Takdanai', 89, 'A'], ['Korrathak', 85, 'A'], ['0558_Piampiya', 44, 'E'], ['Danasawin', 60, 'C'], ['0170_Anapat', 68, 'C'], ['201', 88, 'A'], ['0555_Tarnakij', 99, 'A'], ['0153_Yanapat', 41, 'E'], ['0688_Thanis', 43, 'E'], ['??????', 82, 'A'], ['0556_Bunadha', 84, 'A'], ['Rinlaphat', 100, 'A'], ['0166_Phuvis', 96, 'A'], ['0156_Nattapat', 100, 'A'], ['0168_Matheepat', 100, 'A'], ['0172_Itthikon', 53, 'D'], ['0155_Naphat', 63, 'C'], ['Arisara', 46, 'E'], ['0165_Panuwat', 57, 'D'], ['0163_Pornpimon', 91, 'A'], ['0162_Parintorn', 100, 'A'], ['0152_Jiraphat', 100, 'A'], ['0157_Nichakan', 100, 'A'], ['0160_Thanyanan', 64, 'C'], ['Dechdumrong', 78, 'B'], ['0173_Inthuorn', 87, 'A'], ['Sansinee', 57, 'D'], ['0207_Napat', 49, 'E'], ['0693_worakamon', 59, 'D'], ['0687_korrathak', 97, 'A'], ['0210_Werapat', 100, 'A'], ['0211_Akira', 42, 'E'], ['0208_Phantipha', 97, 'A'], ['0209_Peerapong', 86, 'A'], ['0161_benyatip', 100, 'A'], ['552_Nutraness', 100, 'A'], ['552_nutraness', 66, 'C'], ['0169_Sansinee', 41, 'E'], ['0694_suparluck', 96, 'A']]
countA = 0
countB = 0
countC = 0
countD = 0
countE = 0
for i in range(0,len(data)):
 grade = data[i][2]
 if grade == 'A':
   countA = countA + 1
 elif grade == 'B':
   countB = countB + 1
 elif grade == 'C':
   countC = countC + 1 
 elif grade == 'D':
   countD = countC + 1 
 else:
   countE = countE + 1
gradecount = {'A' : countA , 'B' : countB, 'C' : countC,
              'D' : countD, 'E' : countE}
print(gradecount)

{'A': 23, 'B': 2, 'C': 7, 'D': 7, 'E': 7}

# Exercise 4 (1 pt)
Compute the room area for each room type and append to the list
```
room = {'A':['3 x 4'],'B':['3.5 x 5.2'],'C':['4.5 x 6.5'], 
'D':['8 x 11.2'], 'Common room':['11 x 14']   }

Expected output:
room = {'A':['3 x 4', 12],...}
```

In [32]:
room = {'A':['3 x 4'],'B':['3.5 x 5.2'],'C':['4.5 x 6.5'], 
'D':['8 x 11.2'], 'Common room':['11 x 14']   }
for i in room:
 area = room[i][0]
 num1,num2 = area.split('x')
 num1 = float(num1)
 num2 = float(num2)
 cal_area = num1*num2
 room[i].append(cal_area)
print('room =',room)

room = {'A': ['3 x 4', 12.0], 'B': ['3.5 x 5.2', 18.2], 'C': ['4.5 x 6.5', 29.25], 'D': ['8 x 11.2', 89.6], 'Common room': ['11 x 14', 154.0]}

# Exercise 5 (2 pt): 
Use range function to create the following sequence
1. 1,2,3,4,5,6,…,100

2. 0,1,2,3,4,5

3. -2-,1,0,1,2,3

4. -25,-20,-15,-10,-5,0,5,10,15,20

5. -21,-18,-15,-12,-9, -6

6. 1, 4, 9, 16, 25, 36, 49

7. 1, 10, 100, 1000, 10000, 100000

In [6]:
#1
for i in range(1,101):
  print(i,end=',')

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [4]:
#2
for i in range(0,6):
  print(i,end=',')

0,1,2,3,4,5,

In [5]:
#3
for i in range(-2,4):
  print(i,end=',')

-2,-1,0,1,2,3,

In [1]:
#4
for i in range(-25,25,5):
 print(i,end=',')

-25,-20,-15,-10,-5,0,5,10,15,20,-21,-18,-15,-12,-9,-6,

In [2]:
#5
for i in range(-21,-3,3):
 print(i,end=',')

-21,-18,-15,-12,-9,-6,

In [7]:
#6
for i in range(1,8):
  i = i*i
  print(i,end=',')

1,4,9,16,25,36,49,

In [11]:
#7
for i in range(1,7):
  i = 10**(i-1)
  print(i,end=',')

1,10,100,1000,10000,100000,

#Excercise 6 (1pt):
Write code to iterate two lists simultaneously and create another list where each item is the list of two items from the two lists.


```
list1 = ["Alan", "Bobs", "Dean", "Sally"]
list2 = [98, 70, 65, 78]

Expected output:
[["Alan",98],["Bobs",70],["Dean",65],["Sally",78]]
```

In [33]:
list1 = ["Alan", "Bobs", "Dean", "Sally"]
list2 = [98, 70, 65, 78]
list3 = []
list4 = []
for i in range(len(list1)):
    list4.append(list1[i])
    list4.append(list2[i])
    list3.append(list4)
    list4 = []
print(list3)

[['Alan', 98], ['Bobs', 70], ['Dean', 65], ['Sally', 78]]

# Question 1 (1 pt)
Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".


**Examples:**
```
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
FizzBuzz
...
```

In [15]:
for i in range(1,51,1):
  if i % 3 == 0 and i % 5 ==0 :
    print('fizzbuzz')
  elif i % 3 == 0:
    print('fizz')
  elif i % 5 == 0:
    print('buzz')
  else:
    pass
  print(i)

1
2
fizz
3
4
buzz
5
fizz
6
7
8
fizz
9
buzz
10
11
fizz
12
13
14
fizzbuzz
15
16
17
fizz
18
19
buzz
20
fizz
21
22
23
fizz
24
buzz
25
26
fizz
27
28
29
fizzbuzz
30
31
32
fizz
33
34
buzz
35
fizz
36
37
38
fizz
39
buzz
40
41
fizz
42
43
44
fizzbuzz
45
46
47
fizz
48
49
buzz
50

#Question 2 (1 pt)
Write code to count the number of occurrences for each and every word in the paragraph and store it in count_list.

Hint: https://www.programiz.com/python-programming/methods/list/count

```
For many qualitative researchers, looking at the 
specific word choices used by your research participants offers an important first step in exploring your data. You listen to or read your data over and over; you become immersed in it, trying to identify themes and connections. But it can also be very beneficial to simply create a list of the words they are using, count how often certain terms are being used, and examine the contexts in which those words appear. This seemingly simple exercise can allow the researcher to note themes worthy of further exploration, by allowing the language of your data to guide your interpretation.
However, sorting and counting individual words by hand or with a spreadsheet or word file can require hours of tedious work. In Transana, the Word Frequency Report allows the researcher to take text or transcribed data, and easily generate a list of words used in your Documents, Transcripts, Quotes, or Clips, along with the number of times each word is used.
```

In [44]:
paragraph = '''For many qualitative researchers, looking at the specific word choices used 
by your research participants offers an important first step in exploring your data. 
You listen to or read your data over and over; you become immersed in it, trying to identify themes and connections. 
But it can also be very beneficial to simply 
create a list of the words they are using, count how often certain terms are being used, 
and examine the contexts in which those words appear. '''

word_list = paragraph.lower().replace('.','').replace(',','').split( )
word_set = set(word_list)
list_word_set = list(word_set)
print(len(word_set),len(word_list))
for i in word_set:
  counter = word_list.count(i)
  print(i,counter)

64 80
your 3
in 3
for 1
a 1
contexts 1
used 2
it 2
many 1
qualitative 1
specific 1
step 1
choices 1
listen 1
are 2
very 1
beneficial 1
read 1
the 3
researchers 1
which 1
first 1
over; 1
being 1
and 3
identify 1
to 3
but 1
examine 1
offers 1
important 1
certain 1
appear 1
words 2
count 1
by 1
an 1
looking 1
at 1
trying 1
those 1
terms 1
participants 1
create 1
themes 1
or 1
connections 1
immersed 1
become 1
word 1
simply 1
list 1
they 1
often 1
over 1
research 1
of 1
using 1
you 2
also 1
be 1
data 2
exploring 1
can 1
how 1